@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.display{
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8faff;
  color: #ecebf4;
  font-family: "Nunito", sans-serif;
  height: 100vh;
}

h2 {
  font-size: 2.75rem;
  font-weight: 300;
  margin: 0.625rem;
}

h2 span {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
}

.custom-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.custom-container > div {
  cursor: pointer;
  height: 210px;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-out;
}

.custom-container > div:hover {
  opacity: 0.7;
  transform: scale(0.98);
  cursor: pointer;
}

.bg1 {
  background-image: url("images/background2.jpg");
  text-shadow: 1px 1px 2px #f8faff;
}

.bg2 {
  background: #ecebf4 url("images/background2.jpg");
  color: #293842;
  text-shadow: 0 1px 0 rgba(93, 89, 89, 0.4);
}

.bg3 {
  background: #ecebf4 url("images/background2.jpg");
  color: #293842;
  text-shadow: 0 1px 0 rgba(93, 89, 89, 0.4);
}

.custom-container > div:first-of-type,
.custom-container > div:nth-of-type(6),
.custom-container > div:nth-of-type(9),
.custom-container > div:nth-of-type(10) {
  grid-column: span 2;
}

@media (min-width: 768px) {
  .custom-container {
    grid-template-columns: repeat(4, 1fr);
  }
}




body{
    /* background-image: url("images/background.jpg"); */
    background-color: rgba(55, 61, 65, 0.7);
    background-blend-mode: multiply;
    background-size: cover;
}

nav{
    margin: 0%;
    display: flex;
    justify-content: center;
    
}

nav ul{
    list-style-type: none;

}

nav ul li{
    display: inline;
    
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    padding: 1em;
}

nav a:hover{
    background-color: rgba(37, 36, 37, 0.6);
}

.gym-name{
    font-family: "Booter - Zero Zero";
    color: white;
    font-size: 5em;
    margin-left: 10px;

}

.description{
    animation-name: slideRight;
    animation-duration: 1.5s;
}


/* .lower-box{
    width: 1000px;
    height: 100px;
    background-color: #4f7a99;
    animation-name: slideLeft;
    animation-duration: 1.5s;
    justify-content: center;
    display: flex;
    align-items: center;
} */


@keyframes slideRight {
    from{
        transform: translateX(-100%);
    }
}

.main-header{
    background-color: #02101a;
    font-size: 2em;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 110px;
    width: 100%; /* Full width of the page */
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; /* Include padding and borders in the width/height */
}

.display{
    padding-top: 100px;
    padding-left: 180px;
}

.custom-btn{
    border: 5px solid rgb(42, 47, 51);
    background-color: rgba(178, 178, 178, 0.2);
    width: 140px;
    height: 50px;
    border-radius: 10%;
    position: absolute;
    cursor: pointer;

}

.custom-btn:hover{
    background-color: rgb(42, 47, 51,0.8);

}

* {
    font-family: "Laviossa Medium";
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

dialog {
  width: 500px;
  height: 400px;
  background-color: rgba(42, 47, 51);
  background-blend-mode: multiply;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-btn{
  border: 1px solid rgb(31, 209, 96);
  background-color: rgb(70, 227, 128,0.5);
  color: #fff;
}